.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0rem;
}

.navButton {
  color: #FFFFFF;
  background-color: #000000;
  padding: .5rem 2rem;
  border-radius: 8px;
  font-weight: 600;
}

.collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  /* background-color: burlywood; */
}

.card {
  border:  1px solid #B7BECC;
  padding: 2rem ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  height: 2rem;
  margin-left: 0.5rem;
}


.container {
  padding: 0 2rem;
  background-color: #F2FBF6;
  font-family: 'Readex Pro', sans-serif;
}

.available {
  padding: .4rem 1rem;
  background-color: #6FD791;
  color: white;
  border: none;
  border-radius: 8px;
}

.unavailable {
  padding: .4rem 1rem;
  background-color: #BC3131;
  color: white;
  border: none;
  border-radius: 8px;
}

.title {
  text-align: center;
  padding: 1rem;
}